@charset "UTF-8";

@font-face
{ font-family: libertine;
  src: url(LinLibertine_R.woff); }

@font-face
{ font-family: libertine;
  font-style: italic;
  src: url(LinLibertine_RI.woff); }

@font-face
{ font-family: libertine;
  font-weight: bold;
  src: url(LinLibertine_RB.woff); }

@font-face
{ font-family: libertine;
  font-weight: bold;
  font-style: italic;
  src: url(LinLibertine_RBI.woff); }

html
{ font-size: 0.7rem; }

body
{ padding: 1rem;
  font-family: libertine, serif; }

@media (min-width: 34rem)
{ html
    { font-size: 1rem; }

  body
  { width: 34rem;
    margin: 0 auto; } }

h1
{ font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }

h2, p.author, p.publisher
{ font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0; }

p.company, p.copyright, p.printed, p.digitised
{ font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0; }

p
{ font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 1rem; }

blockquote
{ margin: 3rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 1.4rem;
  font-size: 1.2rem; }

blockquote footer
{ text-align: right; }

ol, ul
{ padding-left: 1rem;
  text-align: left; }

ul
{ list-style: none; }

li
{ margin: 1rem 0; }

a:link, a:visited
{ color: inherit; }

a:link
{ text-decoration: none; }

img
{ margin: 2rem auto;
  display: block;
  max-width: 24rem; }

p.sig
{ text-align: right;
  text-transform: uppercase;
  font-size: 1.5rem; }

span.smallcaps
{ font-weight: 600; }

span.normal
{ text-transform: none; }

section
{ margin-bottom: 10rem; }

section p:first-of-type, p.date
{ text-indent: 0; }

section#new-introductory-lectures-on-psycho-analysis > h1:first-of-type
{ display: none; }

.footnote-ref
{ font-size: small;
  vertical-align: text-top; }

sup
{ line-height: 0; }
